body {
  background-color: rgb(255, 253, 245);
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(18, 18, 18);
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  position: relative;
}

.header {
  padding-top: 78px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.nav__burger-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
}
.nav__burger-icon span {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 100px;
  background: rgb(18, 18, 18);
  position: relative;
}
.nav__burger-icon span::after, .nav__burger-icon span::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 100px;
  background: rgb(18, 18, 18);
  position: absolute;
}
.nav__burger-icon span::after {
  top: -8px;
}
.nav__burger-icon span::before {
  top: 8px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  margin-right: 39px;
}
.search__form-input {
  border-bottom: 0.5px solid rgb(125, 125, 125);
  min-width: 347px;
  width: 100%;
  font-size: 12px;
  font-weight: 250;
  line-height: 14px;
}

.directory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.directory__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.directory__list-item {
  cursor: pointer;
}
.directory__list-item path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.directory__list-item:hover path {
  fill: rgb(81, 74, 126);
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.hello__kak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.hello__img img {
  max-height: 416px;
  width: 100%;
}

.kak__img img {
  width: 50%;
  max-height: 278px;
}
.kak__title {
  max-width: 537px;
  font-size: 60px;
  font-weight: 300;
}
.kak__title span {
  font-weight: 400;
  font-family: Bad Script;
  color: rgb(81, 74, 126);
}
.kak__text {
  max-width: 249px;
  line-height: 118%;
  color: rgb(125, 125, 125);
}

.catalog {
  width: 193px;
  height: 193px;
  border: 1px solid rgb(81, 74, 126);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 45%;
}
.catalog__text {
  color: rgb(81, 74, 126);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-weight: 400;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
  background: rgb(18, 18, 18);
  color: rgb(255, 253, 245);
  min-width: 25%;
}
.burger-menu__list {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.burger-menu__item {
  font-size: 14px;
  line-height: 16px;
  max-width: 120px;
  padding-left: 18px;
  padding-right: 140px;
}