@import 'varsAndMixin';
body {
    background-color : $bg-color;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: $main-color;
    font-weight: 300;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    position: relative;
}
input {
    background: $bg-color;
}
.buttons {
    display: flex;
    justify-content: space-between;
    &-arrow {
        background: $color-button;
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transition: $transition;
        position: fixed;
        bottom: 5%;
        left: 2%;
        z-index: 2;
    }
    &-message {
        background: $color-button;
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius;
        transition: $transition;
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 2;
    }
    &-message--close {
        opacity: 0;
        visibility: hidden;
    }
    &-message path, &-arrow path {
        transition: $transition;
    }
    &-message:hover, &-arrow:hover {
        background: $bg-color;
        border: $main-border;
    }
    &-message:hover path, &-arrow:hover path {
        fill: $color-button;
    }
}
.message {
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 1%;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
    background: $bg-color;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    &-open {
        opacity: 1;
        visibility: visible;
    }
    &__close {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        background: $color-button;
        color: $bg-color;
        width: 47px;
        height: 47px;
        border-radius: $radius;
        position: absolute;
        right: 0;
        top: -5%;
    }
    &__consultation {
        margin-top: 14px;
        display: flex;
        gap: 11px;
        padding-bottom: 13px;
        border-bottom: 0.5px solid $grey-color;
        align-items: center;
    }

    &__question {
    }
    &__cin {
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-bottom: 40px;
        align-items: end;
    }

    &__cin-button {
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.2);
        background: $bg-color;
        display: flex;
        flex-direction: column;
        gap: 13px;
        max-width: 152px;
        color: $color-button;
        font-size: 12px;
        font-weight: 300;
        line-height: 118%;
        padding: 9px 15px;
    }

    &__form {
        border-top: 0.5px solid $grey-color;
        display: flex;
        justify-content: space-between;
        padding: 20px 17px 30px 15px;
        & button {
            background: none;
        }
    }

    &__form-input::placeholder {
        color: $color-button;
    }
}

.consultation {
    margin-bottom: 32px;
    &__decor {
        box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
        background: $color-button;
        width: 55px;
        height: 55px;
        border-radius: 100%;
    }

    // .consultation__info

    &__info {
    }

    &__info-name {
        font-size: 20px;
        font-weight: 500.5;
        line-height: 118%;
    }
    &__info-prof {
        @include textGrey(12px);
    }
}
.message-question {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 90px;
    &__decor {
        width: 39px;
        height: 39px;
        box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
        background: $color-button;
        border-radius: $radius;
    }

    &__cout {
        border-radius: 15px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.2);
        background:$bg-color;
        padding: 15px 9px 8px 15px;
        display: flex;
        align-items: end;
        gap: 20px;
        justify-content: space-between;
    }

    &__text {
        @include textGrey(12px);
    }

    &__time {
        @include textGrey(8px);
    }
}
.body-modal--opened .modal {
    visibility: visible;
    opacity: 1;
}
.modal {
    position: fixed;
    inset: 0;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    &__window {
        background: $bg-color;
        padding: 63px 65px 44px 65px;
        min-width: 502px;
    }
    &__close {
        width: 47px;
        height: 47px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        background: $color-button;
        border-radius: 50%;
        color: $bg-color;
        margin-bottom: 5px;
        margin-left: 90%;
    }
    &__title {
        color: $main-color;
        font-size: 40px;
        font-weight: 300;
        line-height: 87.3%;
        margin-bottom: 60px;
    }
    &__input {
        border-bottom: 0.5px solid $grey-color;
        padding-bottom: 3px;
        width: 100%;
        margin-bottom: 19px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.2);
        background: $bg-color;
    }
    &__input::placeholder {
        @include textGrey(16px);
    }
    &__obertka {
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.2);
        background: $bg-color;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 26px 6px 10px 6px;
        margin-bottom: 16px;
    }
    &__obertka::placeholder {
        @include textGrey(16px);
    }
    &__icon {
        margin-bottom: 60px;
    }
    &__button {
        border: 0.5px solid $color-button;
        background: $color-button;
        padding: 14px 12px 14px 25px;
        color: $bg-color;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    &__button path {
        fill: $bg-color;
    }
}
.obertka__button {
    display: flex;
    align-items: center;
    gap: 7px;
    background: $bg-color;
    justify-content: end;
    & p {
        @include textGrey(12px);
    }
}
