@media (max-width: 1200px) {
    .invite {
        &__back {
            padding: 10px 35px;
        }
    }
    .answer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        &__element--five, &__element--last {
            margin-top: 0%;
            margin-left: 0%;
            margin-right: 110px;
        }
        &__element--five {

        }
    }
}
@media (max-width: 1150px) {
    .answer {
        grid-template-columns: repeat(3,1fr);
        &__element--five {
            grid-column:1/2;
        }
        &__element--last {
            grid-column: -1/-2;
        }
    }
}
@media (max-width: 850px) {
    .cooperation {
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
    .pluse {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        &__item {
            background: rgb(81, 74, 126);
            padding: 28px 40px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
        }
        &__item-title {
            color: rgb(255, 253, 245);
            font-size: 12px;
            font-weight: 400;
            line-height: 118%;
            text-align: center;
        }
        &__item-text {
            display: none;
            overflow: hidden;
        }
    }
    .benefit {
        &__title {
            text-align: center;

        }
        &__cards {
            flex-direction: column;
        }
    }
    .invite {
        &__filling {
            padding: 33px;
        }
        &__title {
            text-align: center;
            font-size: 12px;
        }
        &__button {
            margin-left: 25%;
        }
    }
}
@media (max-width: 800px) {
    .answer {
        flex-direction: column;
        margin-left: 32%;
        align-items: center;
        &__element--five::after , &__element--last::before, &__element--three::before,  &__element:first-child::before {
            display: none;
        }
        &__element {
            border-radius: 10px;
            box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
            background: rgb(81, 74, 126);
            color: rgb(255, 253, 245);
            text-align: center;
            padding: 27px 12px;
            min-width: 127px;
            min-height: 26px;
        }
    }
    .hero {
        &__title {
            text-align: center;
        }
    }
    .hero__buttons {
        justify-content: center;
        gap: 50px;
    }
    .footer {
        &__inner {
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
        &-socials {
            text-align: center;
            justify-content: center;
            align-items: center;
            &__item {
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media (max-width: 700px) {
    .header {
        background: url('../img/headerIMG/Tshort.jpeg') no-repeat fixed;
        background-size: cover;
    }
    .header-menu--open {
        background:rgb(81, 74, 126);
    }
    .nav {
        margin-bottom: 0px;
    }
    .search {
        border-radius: 10px;
        background: rgb(255, 253, 245);
        padding: 10px;
        margin-left: 10%;
    }
    .search__form-input {
        border-bottom: none;
    }
    .hello__img {
        display: none;
        overflow: hidden;
    }
    .kak {
        margin-top: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        color: rgb(255, 253, 245);
        &__title {
            text-align: center;
        }
        &__title span {
            color: rgb(255, 253, 245);
        }
        &__img img {
            display: none;
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;
            color: rgb(255, 253, 245);
        }
    }
    .catalog {
        margin-left: 30%;
        margin-bottom: 50px;
        background-color: rgb(81, 74, 126);
        color:rgb(255, 253, 245);
        &__text {
            color:rgb(255, 253, 245); 
        }
        & path {
            fill: rgb(255, 253, 245);
        }
    }
    .catalog:hover {
        color: rgb(255, 253, 245);
    }
    .directory__list {
        display: none;
        overflow: hidden;
    }
    .telephone-menu {
        padding: 22px 32px 16px 38px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap:50px;
        background:rgb(81, 74, 126);
        &__item path {
            fill: rgb( 255 , 253 , 245 );
        }
    }
    .nav__burger-icon {
        display: none;
        overflow: hidden;
    }
    .nav__burger-icon--telephone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        cursor: pointer;
        & span {
            display: block;
            width: 30px;
            height: 2px;
            border-radius: 100px;
            background: rgb( 255 , 253 , 245 );
            position: relative;
        }
        & span::after, & span::before {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            border-radius: 100px;
            background: rgb( 255 , 253 , 245 );
            position: absolute;
        }
        & span::after {
            top: -8px;
        }
        & span::before {
            top: 8px;
        }
    }
    .burger-menu {
        top: 7%;
        right: 0;
        bottom: 7%;
        &__list {
            margin-top: 100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
        }
        &__item {
            font-size: 16px;
            line-height: 16px;
            max-width: none;
        }
    }
    .invite {
        &__back {
            width: 100%;
        }
        &__filling {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__button {
            margin-left: 0%;
        }
    }
    
}
@media (max-width: 550px) {
    .search__form-input {
        min-width: 300px;
    }
}
@media (max-width: 500px) {
    .search {
        margin-left: 25%;
    }
    .search__form-input {
        min-width: 200px;
    }
    .kak__title {
        font-size: 40px;
    }
    .telephone-menu {
        gap: 20px;
    }
}
@media (max-width: 450px) { 
    .buttons {
        display: none;
    }
    .search__form-input {
        min-width: 150px;
    }
}