@import 'global';
@import 'header';
.background--first {
    position: absolute;
    top: 750px;
    right: 0%;
}
.background--two {
    position: absolute;
    right: 0%;
    top: 2400px;
}
.background--three {
    position: absolute;
    right: 0%;
    top: 4200px;
    overflow: hidden;
    padding: 100px 0px 0px 0px;
}
.background--three::before {
    content: '';
    display: block;
    background: rgb(81, 74, 126);
    position: absolute;
    border: 1px solid rgb(81, 74, 126);
    background: rgb(81, 74, 126);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 5%;
    right: -25%;
    overflow: hidden;
}
.hero {
    margin-top: 117px;
    position: relative;
    &__title {
        @extend %title;
    }
    &__swiper-mobile {
        display: none;
    }
    &-button-prev, &-button-next {
        margin-top: 25px;
        background: $bg-color;
        opacity: 1;
        visibility: visible;
        transition: $transition;
        position: absolute;
        display: none;
        visibility: hidden;
    }
    &-button-next {
        padding-top: 5px;
        right: 0%;
        bottom: 20%;
    }
    &-button-prev {
        transform: rotate(180deg);
        left: 0%;
        bottom: 20%;
    }
}
.swiper-button-disabled.hero-button-next {
    opacity: 0;
    visibility: hidden;
}
.answer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-right: 131px;
    margin-bottom: 34px;
    &__element {
        @include textGrey(14px);
        max-width: 175px;
        position: relative;
    }
    &__element--first-row {
        margin-right: 111px;
    }
    &__element--first-row:last-child {
        margin-right: 0;
    }
    &__element--five {
        grid-column: 1/3;
        margin-top: 98px;
        margin-left: 25%;
    }
    &__element--five::after{
        content: '';
        display: block;
        width: 47px;
        height: 47px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
        background: $color-button;
        border-radius: $radius;
        position: absolute;
        right: -25%;
        bottom: -56%; 
    }
    &__element--last {
        grid-column: -1/-3;
        margin-top: 98px;
        margin-left: 25%;
    }
    &__element--last::before {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
        background: $color-button;
        border-radius: $radius;
        position: absolute;
        right: -10%;
        top: -50%; 
    }
    &__element:first-child::before{
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
        background: $color-button;
        border-radius: $radius;
        position: absolute;
        right: 2%;
        bottom: 0%;
    }   
    &__element--three::before {
        content: '';
        display: block;
        width: 47px;
        height: 47px;
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
        background: $color-button;
        border-radius: $radius;
        position: absolute;
        right: -20%;
        top: -56%; 
    }
    &__element-mobile {
        box-shadow: 0px 4px 10px 0px rgba(81, 74, 126, 0.4);
        background: $color-button;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $bg-color;
        width: 150px;
        height: 80px;
        font-size: 14px;
        font-weight: 300;
        line-height: 118%;
    }
}
.gallery {
    margin-top: 128px;
    &__title {
        @extend %title;
        position: relative;
        margin-bottom: 60px;
    }
    &__title span {
        color: $color-button;
        font-family: Bad Script;
        font-size: 40px;
        font-weight: 400;
        line-height: 87.3%;
        position: absolute;
        bottom: -75%;
    }
}
.gallery-mobile {
    display: none;
    grid-template-columns: repeat(2,1fr);
    &__card {
        display: flex;
        flex-direction: column;
        font-size: 24px;
    }
    &__img {
        position: relative;
    }
    &__img img {
        width: 110%;
        border-radius: 40px;
    }
    &__img svg {
        position: absolute;
        top: 4%;
        right: 0%;
    }
    &__content {
        margin-top: 23px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-button;
        color: $bg-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding: 13px 12px 15px 30px;
        position: absolute;
        left: 50%;
        gap: 6px;
        transform: translate(-50%,-50%);
        top: 105%;
        display: none;
    }
}
.gallery-mobile__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: $grey-color;
    margin-bottom: 10px;
}
.mobile-content {
    &__price {
        display: flex;
        padding-right: 27px;
        justify-content: space-between;
        margin-bottom: 13px;
    }
    &__acti {
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    &__sum {
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        color: $grey-color;
        text-decoration: line-through;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.swiper-wrapper {
    display: flex;
    position: relative;
}
.swiper-slide {
    max-width: 279px;
    margin-right: 0px;
    &__img img {
        width: 100%;
    }
    &__img {
        margin-bottom: 13px;
    }
}
.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 40px;
    flex-shrink: 1;
    max-width: 279px;
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__price {
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 13px;
    }
    &__price span {
        color: $grey-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-decoration: line-through;
        margin-left: 12px;
    }
    &__text {
        color: $grey-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 13px;
        max-width: 148px;
    }
    &__button {
        background:$bg-color;
        border: 0.5px solid $main-color;
        display: flex;
        gap: 9px;
        justify-content: center;
        align-items: center;
        padding: 14px 13px 14px 25px;
        max-width: 148px;
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        transition: $transition;
    }
    &__button:hover {
        background: $color-button;
        color: $bg-color;
        border: 0.5px solid $color-button;
    }
    &__button:hover path {
        fill: $bg-color;
    }
    &__icons {
        display: flex;
        gap: 16px;
        margin-top: 12px;
        align-items: center;
    }
    &__column--two {
        justify-content: space-between;
    }
}
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 24px 19px 23px 20px;
    background: $bg-color;
    z-index: 1;
    right: 0%;
    bottom: 45%;
    transition: all .3s;
}
.swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 24px 19px 23px 20px;
    background: $bg-color;
    transform:rotate(180deg);
    z-index: 1;
    left: 0%;
    bottom: 45%;
    transition: all .3s;
}
.swiper-button-disabled.swiper-button-prev, .swiper-button-disabled.swiper-button-next {
    opacity: 0;
    visibility: hidden;
}
.swiper-slide--two .reviews__slide-text {
    padding: 0px;
}
.swiper-slide--two .reviews__slide-img img {
    width: 200%;
}
.reviews {
    margin-top: 150px;
    z-index: 1;
    position: relative;
    &__title {
        font-size: 40px;
        font-weight: 300;
        line-height: 87.3%;
        margin-bottom: 60px;
    }
    &__swiper {
        max-width: 1000px;
        margin: 0px;
    }
    &__slide {
        display: flex;
        align-items: center;
        gap: 49px;
        padding: 53px 24px 41px 24px;
        max-width: 459px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    }
    &__slide-img img {
        width: 150%;
    }
    &__slide svg {
        margin-bottom: 15px;
    }
    &__slide-text {
        @include textGrey(12px);
        line-height: 170%;
        margin-bottom: 22px;
        max-height: 70px;
        padding: 10px 0px;
    }
    &__slide-call {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__slide-address {
        font-size: 12px;
        font-weight: 400;
        line-height: 170%;
    }
    &__slide-date {
        color: $color-button;
        font-size: 12px;
        font-weight: 400;
        line-height: 170%;
    }
    &__button-next {
        width: 92px;
        height: 92px;
        border-radius: 100%;
        border: 1px solid rgb(81, 74, 126);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 28px 45px 27px;
        margin-left: 45%;
        transition: $transition;
        position: absolute;
        right: 2%;
        top: 40%;
        z-index: 2;
        transition: all .3s;
    }
    &__button-prev {
        width: 92px;
        height: 92px;
        border-radius: 100%;
        border: 1px solid rgb(81, 74, 126);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 28px 45px 27px;
        transition: $transition;
        position: absolute;
        left: 5%;
        top: 40%;
        z-index: 2;
        transform: rotate(180deg);
        transition: all .3s;
    }
    &__button-next:hover {
        background: $bg-color;
        color: $color-button;
    }
    &__button-next:hover path {
        fill:$color-button; 
    }
    &__add {
        color: $bg-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        border: $main-border;
        background: $color-button;
        align-items: center;
        justify-content: center;
        padding: 14px 18px 14px 21px;
    }
}
.swiper-pagination {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(81, 74, 126, 0.2);
    border-radius: $radius;
}

.swiper-pagination-bullet-active {
    background-color: $color-button;
}
.swiper-button-disabled.reviews__button-prev, .swiper-button-disabled.reviews__button-next {
    opacity: 0;
    visibility: hidden;
}
.question {
    margin-top: 150px;
    &__title {
        @extend %title;
        position: relative;
        margin-bottom: 97px;
    }
    &__title span {
        font-family: Bad Script;
        font-size: 40px;
        font-weight: 400;
        line-height: 87.3%;
        color: $color-button;
        position: absolute;
        top: 125%;
        bottom: -75%;
    }
}
.accordion-list {
    margin-bottom: 0px;
    &__item {
    }
    &__item--opened {
    }
    &__control {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 6px 0px 18px 0px;
        background: $bg-color;
        border-bottom: 0.5px solid rgb(125, 125, 125);
        margin-bottom: 19px;
    }
    &__control-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
    }
    &__content {
        max-height: 0;
        overflow: hidden;
        transition: $transition;
    }
}
.accordion-content {
    &__text {
        @include textGrey(16px);
        margin-bottom: 32px;
    }
}

.cooperation {
    margin-top: 150px;
    &__title {
        @extend %title;
        margin-bottom: 73px;
    }
    &__text {
        @include textGrey(16px);
        margin-bottom: 60px;
    }
}
.pluse {
    display: flex;
    gap: 110px;
    &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 22px;
    }
    &__item-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 118%;
        text-align: center;
    }
    &__item-text {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 118%;
    }
}
.benefit {
    margin-top: 60px;
    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 87.3%;
        margin-bottom: 60px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 22px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: 21.67px;
        align-items: center;
    }

    &__card-text {
        @include textGrey(14px);
        min-width: 174px;
        text-align: center;
    }
    &__card-text:last-child {
        min-width: 184px;
    }
}

.invite {
    margin-top: 150px;
    margin-bottom: 150px;
    &__back {
        background: $color-button;
        padding: 39.83px 122px 38.83px 135px;
        width: 60%;
    }
    &__filling {
        box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
        padding: 34.85px 52px 41.82px 51px;
        background: $bg-color;
    }
    &__title {
        font-size: 20px;
        color: $main-color;
        font-weight: 400;
        line-height: 118%;
        margin-bottom: 40px;
    }
    &__form-inner {
        display: flex;
        flex-direction: column;
        gap: 25px;
        color: $grey-color;
        font-size: 12px;
        line-height: 118%;
        font-weight: 250;
        margin-bottom: 7px;
    }
    &__form-input {
        border-bottom: 0.5px solid $grey-color;
        max-width: 228px;
    }
    &__question {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    &__question span {
        @include textGrey(14px);
    }
    &__button {
        display: flex;
        gap: 9px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        background: $color-button;
        color: $bg-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 13.94px 13px 13.94px 25px;
        transition: $transition;
    }
    &__button:hover {
        background: $bg-color;
        border: $main-border;
        color: $color-button;
    }
    &__button:hover path {
        fill: $color-button;
    }
}

@import 'footer';
@import 'varsAndMixin';





